.container__big-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0 20px;
  width: 400px;
}

.big-card__title > h1 {
  font-size: 20px;
  margin-top: 10px;
}

.big-card__description > p {
  color: #c0c0c0;
  margin-top: 10px;
  text-align: justify;
}

.big-card__photo > a > img {
  min-width: 400px;
  width: 100%;
}

.big-card__photo > a > img:hover {
  box-shadow: rgba(206, 206, 206, 0.2) 0px 7px 29px 0px;
  filter: grayscale(50%);
}
