.container__small-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 500px;
}

.small-card__photo > img {
    margin-right: 20px;
    height: 125px;
    min-width: 200px;
    width: 200px;
}

.small-card__title {
    align-items: center;
    display: flex;
    justify-content: center;
}

.small-card__title > p {
    color: #c0c0c0;
    font-size: 1.25rem;
    font-weight: 700;
}

hr { 
    margin-bottom: 15px;
}