.container__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 60%;
}

.content__cover > img {
  height: 300px;
  min-width: 500px;
  width: 500px;
}

.content__title > h1 {
  font-size: 1.75rem;
  text-align: center;
}

.content__description {
  margin-top: 15px;
}

.content__description > a {
  font-weight: 700;
}

.content__description > p {
  color: #c0c0c0;
  font-size: 0.857rem;
  margin-top: 20px;
}
