<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://sm.ign.com/ign_pt/image/t/the-bigges/the-biggest-anime-coming-in-2023_48wm.jpg"
      cardTitle="Episódio Final de Shingeki no Kiojin"
      cardDescription='O "Episódio Final de Shingeki no Kiojin" é um marco na história da animação japonesa. Este episódio emocionante encerra uma jornada épica que tem cativado fãs de todo o mundo. Com reviravoltas surpreendentes, revelações chocantes e um confronto final de tirar o fôlego, ele encapsula a complexidade dos personagens e a profundidade da trama que tornaram "Shingeki no Kiojin" uma obra-prima. Este episódio não apenas satisfaz a curiosidade dos fãs, mas também deixa espaço para reflexão, encerrando a série de forma memorável.'
    ></app-big-card>
  </div>
  <div class="articles__other">
    <app-small-card
    photoCover="https://sm.ign.com/ign_br/screenshot/default/fxzqht-xkamcb1c_nwkq.jpg"
    cardTitle="Nova Temporada de Chainsaw Man Anunciada"
    ></app-small-card>
    <app-small-card
    photoCover="https://i.ytimg.com/vi/D36jiKAwHr4/maxresdefault.jpg"
    cardTitle="Terceira Temporada de One Punch Man Anunciada"
    ></app-small-card>
    <app-small-card
    photoCover="https://i0.wp.com/i.pinimg.com/originals/a7/08/e3/a708e364dfb28d3560adf527897f9d14.jpg?resize=1170%2C731&ssl=1"
    cardTitle="Ergo Proxy, um anime bem diferentão que vale a pena sua atenção"
    ></app-small-card>
  </div>
</div>
